$primary-text-color:   #212121;
$primary-color-text:   #FFFFFF;
$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


$accent-color-1:         #388E3C;
$accent-color-2:         #8BC34A;
$accent-color-3:         #CDDC39;
$accent-color-4:         #FFEB3B;
$accent-color-5:         #FF9800;
$accent-color-6:         #E64A19;

$color-gold-star:        #FFC107;
$color-correct:          #4CAF50;
$color-incorrect:        #F44336;