

@import '../sass/_variables.scss';
.about {
    padding: 1em;
    text-align: left;
    width: $width-game-column;
    margin: 0 auto;
    .title {
        font-size: 2em;
        line-height: 3em;
    }
    .acknowledgement {
        color: $secondary-text-color;
    }
    .git-source {
        padding: 1rem 0;
        .git-hub-icon {
            vertical-align: bottom;
            width: 1.4rem;
            height: 1.4rem;
            padding-right: 0.4rem;
        }
    }
    
}