.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu button {
    border: none;
    background: none;

    padding: 0;
    margin: 5px;

    width: 70px;
    height: 70px;
}

.menu button svg {
    width: 70px;
    height: 70px;
}

.menu button svg {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.menu button:hover svg {
    transform:rotate(1turn);
}

.menu button #button-icon-plus {
    fill: #388E3C;
}

.menu button #button-icon-minus {
    fill: #8BC34A;
}

.menu button #button-icon-multiply {
    fill: #CDDC39;
}

.menu button #button-icon-divide {
    fill: #FFEB3B;
}