
@import '../sass/_variables.scss';
.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media only screen and (min-device-width: 414px) and (orientation: landscape) {
        transform: translate(-50%, -30%);
    }
    button {
        border: none;
        background: none;
        padding: 0;
        margin: 5px;
        width: 70px;
        height: 70px;
        overflow: visible;
        svg {
            width: 70px;
            height: 70px;
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
        }
        &:hover svg {
            transform: rotate(1turn);
        }
        #button-icon-plus {
            fill: $accent-color-1;
        }
        #button-icon-minus {
            fill: $accent-color-2;
        }
        #button-icon-multiply {
            fill: $accent-color-3;
        }
        #button-icon-divide {
            fill: $accent-color-4;
        }
        .badge {
            position: absolute;
            padding: 4px;
            border-radius: 4px;
            min-width: 20px;
            z-index: 1;
        }
        &.addition .badge {
            background-color: $accent-color-4;
            right: 140px;
            top: -5px;
        }
        &.subtraction .badge {
            background-color: $accent-color-3;
            top: -5px;
            left: 140px;
        }
        &.multiplication .badge {
            background-color: $accent-color-2;
            right: 140px;
            bottom: -5px;
        }
        &.division .badge {
            background-color: $accent-color-1;
            left: 140px;
            bottom: -5px;
        }
    }
}