@use '../sass/_variables.scss';
.no-match-404 {
    padding-top: 50px;
    .title {
        line-height: 3em;
        .sign {
            font-size: 1.5em;
            vertical-align: top;
            color: variables.$accent-color-4;
        }
        .digit {
            font-size: 3em;
            &.d1 {
                color: variables.$accent-color-1;
            }
            &.d2 {
                color: variables.$accent-color-2;
            }
            &.d3 {
                color: variables.$accent-color-3;
            }
        }
    }
}
