.no-match-404 {
    padding-top: 50px;
}

.no-match-404 .title {
    line-height: 3em;
}
.no-match-404 .title .sign {
    font-size: 1.5em;
    vertical-align: top;
}
.no-match-404 .title .digit {
    font-size: 3em;
}

.no-match-404 .digit.d1 {
    color: #388E3C;
}

.no-match-404 .digit.d2 {
    color: #8BC34A;
}

.no-match-404 .digit.d3 {
    color: #CDDC39;
}

.no-match-404 .title .sign {
    color: #FFEB3B;
}