

@import '../sass/_variables.scss';
.equation {
    margin: 0 auto;
    padding: 75px 0;
    width: $width-game-column;
    display: table;
    @media only screen and (max-device-height: 668px) and (orientation: landscape) {
        padding: 10px 0;
    }
    @media only screen and (max-device-height: 668px) and (orientation: portrait) {
        padding: 40px 0;
    }
}

.wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.part {
    width: 50px;
    padding: 15px 5px;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    @media only screen and (max-device-height: 668px) and (orientation: landscape) {
        padding: 10px 5px;
        padding-top: 5px;
    }
    @media only screen and (max-device-height: 668px) and (orientation: portrait) {
        padding: 10px 5px;
    }
    
}

.question {
    border: 2px solid $divider-color;
    border-radius: 5px;
    .correct & {
        border-color: $color-correct;
        border-radius: 15px;
    }
    .incorrect & {
        border-color: $color-incorrect;
        border-radius: 0;
    }
}