.equation {
    margin: 0 auto;
    padding: 50px 0;
    width: 300px;
}

.part {
    width: 50px;
    padding: 15px 5px;
    margin: 5px;
    display: table-cell;
}
.question {
    border: 1px solid #ccc;
}