
@import '../sass/_variables.scss';

.game-hud {
    background-color: transparent;
    padding: 10px 0;
    margin-bottom: 10px;
    .container {
        width: $width-game-column;
        margin: 0 auto;
        div {
            display: inline-block;
            padding: 0 10px;
            width: 80px;
        }
    }
    /* bottom border of the hud */
    &.addition {
        border-bottom: 2px solid $accent-color-1;
    }
    &.subtraction {
        border-bottom: 2px solid $accent-color-2;
    }
    &.multiplication {
        border-bottom: 2px solid $accent-color-3;
    }
    &.division {
        border-bottom: 2px solid $accent-color-4;
    }
}

.question-counter {
    text-align: left;
}

.icon-grade {
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
    margin-right: 10px
}

.correct-answers {
    color: $color-correct;
    text-align: right;
    svg.icon-grade {
        fill: $color-gold-star;
    }
}

.gain-even .icon-grade,
.gain-odd .icon-grade {
    animation-duration: 0.5s;
    animation-iteration-count: 3;
    animation-timing-function: ease-out;
}

.gain-even .icon-grade {
    animation-name: zoom-star-1;
}

.gain-odd .icon-grade {
    animation-name: zoom-star-2;
}

@keyframes zoom-star-1 {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: .75;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes zoom-star-2 {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: .75;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}