

@import '../sass/_variables.scss';
.game-answers {
    width: $width-game-column;
    margin: 0 auto;
    
    button {
        /* reset */
        background-color: $primary-color-text;
        /**/
        cursor: pointer;
    }
    &.locked button {
        cursor: default;
        pointer-events: none;

        background-color: $divider-color;
    }
    hr {
        border-color: $divider-color;
        border-style: solid;
    }
}

.answer {
    padding: 20px;
    margin: 2px;
    min-width: 70px;
    border: 1px solid $divider-color;
    font-size: 1em;
    &:focus {
        outline: none;
    }
    @media only screen and (max-device-height: 668px) and (orientation: landscape), 
    screen and (max-device-height: 668px) and (orientation: portrait) {
        padding: 15px 5px;
    }
}


.hidden {
    visibility: hidden;
}