.game-answers {
    width: 300px;
    margin: 0 auto;
}

.game-answers button {
    /* reset */
    background-color: white;
}

.answer {
    padding: 20px;
    margin: 2px;

    min-width: 70px;
    border: 1px solid #ccc;
}



.answer:focus {
    outline: none;
}

.hidden {
    visibility: hidden;
}