.game-hud {
    background-color: transparent;
    padding: 10px 0;
    margin-bottom: 10px;
}
.game-hud .container {
    width: 300px;
    margin: 0 auto;
}
.game-hud .container div {
    display: inline-block;
    padding: 0 10px;
    width: 80px;
}

.question-counter {
    text-align: left;
}

.correct-answers {
    color: green;
    text-align: right;
}

.game-hud.addition {
    border-bottom: 2px solid #388E3C;
}

.game-hud.subtraction {
    border-bottom: 2px solid #8BC34A;
}

.game-hud.multiplication {
    border-bottom: 2px solid #CDDC39;
}

.game-hud.division {
    border-bottom: 2px solid #FFEB3B;
}