.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-header img {
  height: 30px;
  position: absolute;
  left: 8px;
  top: 34px;
}

.App-title {
  font-size: 1.5em;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
.in-page .App-title {
  font-size: 1em;
  margin-bottom:.25em
}

h3 {
  font-size: 1em;
  margin-top: 0.25em;
}

.App-header button {
  right: 18px;
  position: absolute;
  top: 41px;
}