

@import 'sass/_variables.scss';
.dd-menu {
    z-index: 100001;
    position: fixed;
    &.close {
        opacity: 0;
        visibility: hidden;
    }
    &.open {
        opacity: 1;
        visibility: visible;
    }
    .cloak {
        position: fixed;
        width: 100%;
        height: 100%;
        // background-color: rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
    }
    .dd-menu-container {
        position: fixed;
        width: 110px;
        top: 90px;
        right: 8px;
        background-color: #fff;
        box-shadow: 1px 1px 5px #888888;
        button {
            display: block;
            width: 100px !important;
            margin: 0 auto !important;
            text-align: left;
            svg {
                margin-right: 8px;
                display: inline-block;
                position: relative;
                top: 5px;
                fill: #212121 !important;
            }
            span.label {
                margin-bottom: 5px;
                display: inline-block;
                position: relative;
                top: -2px;
            }
        }
    }
}